<html>
<body>
    

<div class="toolbar">
<H1>LISTAGEM DE MEDICOS</H1>

</div>

<div class = "table">
<table mat-table [dataSource]="medsTable" class="mat-elevation-z8">
    <ng-container matColumnDef="MedID">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let med"> {{med._id}} </td>
    </ng-container>
    <ng-container matColumnDef="NomedoMedico">
        <th mat-header-cell *matHeaderCellDef> Nome do Medico </th>
        <td mat-cell *matCellDef="let med"> {{med.nome}} </td>
    </ng-container>
    <ng-container matColumnDef="CRM">
        <th mat-header-cell *matHeaderCellDef> CRM </th>
        <td mat-cell *matCellDef="let med"> {{med.crm}} </td>
    </ng-container>
    <ng-container matColumnDef="Especialidade">
        <th mat-header-cell *matHeaderCellDef> Especialidade </th>
        <td mat-cell *matCellDef="let med"> {{med.especialidade}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="medColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: medColumns;"></tr>
</table>

<button (click)="navigateCadastrar()" mat-raised-button color="warn">Cadastrar</button>

</div>
</body>
</html>